.maintitle {
    font-size: 2rem;
    font-weight: bold;
}
.fi {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main{
    height: 100%
}
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background: var(--color-secondary);
    color: var(--font-color) !important;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.style1 {
    display: flex;
    flex-direction: row-reverse;

}
.style1 > img {
    max-height: 80%;
    max-width: 50%;
    margin-left: 16px;
    border-radius: 10px;
}
.style2 {
    display: flex;
    flex-direction: row;
}
.style2 > img {
    max-height: 80%;
    max-width: 50%;
    margin-right: 16px;
    border-radius: 10px;
}

.style3 {
    display: flex;
    flex-direction: column;
}
.style3 > img {
    max-height: 80%;
    max-width: 50%;
    margin-bottom: 16px;
    border-radius: 10px;
}

.style4 {
    display: flex;
    flex-direction: column-reverse;
}
.style4 > img {
    max-height: 80%;
    max-width: 50%;
    margin-top: 16px;
    border-radius: 10px;
}
section{
    margin-bottom: 10%;
    align-items: center;
    justify-content: center;
}
.sections{
    height: 100%;
}
.skills {
    flex-wrap: wrap;
    max-width: 60vw;
  }
  .skill {
    color: var(--color-accent);
    outline: 1px solid var(--color-accent);
    border-radius: 10px;
    padding: 10px 8px;
    margin: 10px;
    box-sizing: border-box;
    background-color: #2386372f;
    box-shadow: 3px 1px 16px 1px #2386374b;
  }
.tech {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: wrap;
}
.hid{
    opacity: 0 !important;
  }