body {
   font-family: 'Noto Sans Sharada', sans-serif;
}
.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #238636;
    --font-color: #000000;
    --icons-color: #000;
    --border-color: #00000077;
   }
   .theme-dark {
      --color-primary: #17ed90;
      --color-secondary: #0F172A;
      --color-accent: #238636;
      --font-color: #D1DBEE;
      --icons-color: #969696;
      --border-color: #96969677;
 }