body {
   font-family: 'Noto Sans Sharada', sans-serif;
   width: 100%;
   background: var(--color-secondary);
   color: var(--font-color) !important;
}
.theme-light {
    --color-primary: #0060df;
    --color-secondary: #fbfbfe;
    --color-accent: #238636;
    --font-color: #000000;
    --icons-color: #000;
    --border-color: #00000077;
   }
   .theme-dark {
      --color-primary: #17ed90;
      --color-secondary: #0F172A;
      --color-accent: #238636;
      --font-color: #D1DBEE;
      --icons-color: #969696;
      --border-color: #96969677;
 }

.bg-default {
   background-color: var(--color-secondary);
}
.ani > img { 
   border-radius: 20px;
   --tw-shadow: 0 0px 50px -12px rgb(0 0 0 / 0.25);
   --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
   box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}